<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户消费行为分析</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/jquery-3.5.1.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
</head>
<body>
    <div id="gyroContain">
        <div id="title">用户消费行为分析</div>
        <div id="q1"></div>
        <div id="q2"></div>
        <div id="q3"></div>
        <div id="q4">

            <div id="table">
                <!-- 双十二当天top10的用户信息（包括：useid，购买数量，省份） -->
                <table border="1" id="c">
                    
                </table>
            </div>
        </div>
        <div id="q5"></div>
    </div>
</body>
</html>
<script src="../static/js/control.js"></script>
<script src="../static/js/ec_center.js"></script>
<script src="../static/js/ec_left_1.js"></script>
<script src="../static/js/ec_left_2.js"></script>
<script src="../static/js/ec_right_1.js"></script>
<script src="../static/js/ec_rigth_2.js"></script>
